body {
    background-color: rgb(230,230,230);
}

.navbar-nav {
    display:table;
    width:90%;
    margin:0;
}

.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
    font-size:18px;
}

.logo {
    margin-top:10px;
}

.list-group {
    max-height:300px;
    overflow-y:auto;  
}

.btn-streaming {
    background-color: lightgreen;
}
button.on {
    background-color: red;
}

.connection_details {
    display: none;
    padding-top:20px;
}
.connection_details .show {
    display: inline-block;
}

.tools {
    padding-top:20px;
}

.movewidget-bg {
    width: 31px;
    height: 31px;    
    margin-top: 16px;
    margin-right: 60px;
    right:0;
    background-color: #878787;
    border-radius: 3px;
    border: solid #444444 0.3px;
    z-index: 1600;
}

.remove-widget {
    width: 30px;
    height: 30px;    
    margin-top: 16px;
    margin-right: 16px;
    right:0;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    z-index: 30;
}

.remove-widget:hover {
    background-color: rgb(0, 145, 240);
    color: white;
}

.option-widget {
    position: absolute;
    width: 25px; 
    height:25px;
    color: #66c2ff; 
    margin-top: 16px; 
    margin-left: 16px; 
    left:0; 
    font-size: 10px; 
    font-weight: 400; 
    text-align: center; 
    z-index: 30;
}

.option-widget:hover {
    background-color: #0000A0;
    color: white;
}

.add-channel {
    width: 70px;
    height: 20px;    
    margin-bottom: 30px;
    margin-left: 15px;
    left:0;
    bottom:0;

    font-size: 7px;
    font-weight: 400;

    text-align: center;
    z-index: 2000;
}

.channel-select {
    font-size: 7px;
    font-weight: 400;
}

.change-chart {
    margin-top: 20px;
}

.upload {
    bottom: 0;
    height: 50px;
    width: 25%;
    right: 0;
}

.upload2{
    position: relative;
    right: 1170px;
}

.bottom_left{
    bottom:0;
    height:50px;
    width: 300px;
    position:absolute;
    margin-left:0;
    z-index: 50;
    left: 0px;
}

.upload_btn{
    display: none;
}

.grid_container{
    position: fixed;
    left: 1%;
    height: 80%;
    width: 99%;
    overflow-y: scroll;
}

.grid{
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    top: 0;
}