<h1> Config Editor </h1>

<div ng-controller="ImportController">
   <button ng-click="insertTest()">insert</button>
   <button ng-click="retrieveTest()">retrieve</button>
   <button ng-click="getObj()">getobj</button>
   <button ng-click="rmData()">remove</button>
   <button ng-click="getConfig()">get Config</button>
   <button ng-click="setConfig()">set Config</button>
   <button ng-click="getChannels()">get channels</button>
   <button ng-click="getChannelData()">get channel data</button>
   <button ng-click="getChannelDataTime()">get channel data and time</button>
   <button ng-click="getChannelName()">get channel name</button>
   <button ng-click="uploadDataset()">upload</button>
   <button ng-click="downloadDatasets()">download</button>
   <button ng-click="getChannelDiag()">getChannelDiag</button>
   <button ng-click="loadOneDataset()">loadOneDataset</button>
   <button ng-click="loadDatasets()">loadDataset</button>
   
</div>
