<div>
    <h1> Dashboard Selection </h1>

    <h2 class="text-center"> Select your department </h3>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div ng-controller="DashboardCtrl" class="list-group col-md-4">
            <div ng-repeat="dashboard in array">
                <button ng-click="storeAndSwitch(dashboard)" class="list-group-item list-group-item-action">
                <div class="text-center">{{dashboard}}</div>
                </button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    </div>
</div>