<h1 align="center"> Dashboard </h1>

<div ng-controller="dashboardChartCtrl">

  <!--'Choose File' & 'Import Dataset': This div contains the button that allows the user to choose the file they wish to upload. The file can then be imported by clicking "Import Dataset" which populates the channel array in the js file.-->
  <div class="row">
    <span class="bottom_left">
      <div class="input-group">
        <input type="file" class="form-control" file-reader="fileContent"/>
        <!--<button class="btn btn-primary btn-xs upload_btn" ng-click="import()" ng-disabled="!uploadEnabled" ng-class="{show: upload_btn}">{{uploadText}}</button>-->
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="import3()" ng-disabled="!uploadEnabled">Import Dataset</button>
        </span>
      </div>
  </span>

  

  <!--Highchart Container: This div acts as the container for the entirity of the chart including the remove chart button, move chart handle and channel select bootstrap button. -->
  <div class="grid_container">
    <wg-grid class="grid" columns="20" rows={{gridRows}} options="{ clickThrough: true, showGrid: showGrid}" ng-style="{'width': '100%', 'height':gridRows*(20/3)+'%'}">
      <div ng-repeat="chart in charts">
        <div dashboard-dir></div>
      </div>
    </wg-grid>
  </div>

  
  <div style="position:absolute; bottom:0; height:50px; width:99%;" align="right">
    <span class="dropup closed">
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="isNotLocked == false">
        Add Chart
      </button>
      <div class="dropdown-menu">
        <div ng-repeat="type in chartTypes">
          <a class="dropdown-item" ng-click="addChart(type,1,10,1,10)">{{type}}</a>
        </div>
      </div>
    </span>
      <button ng-click="toggle()" class="btn btn-warning">{{text}}</button>
      <button ng-confirm-click={{dialog}} confirmed-click="dashLayout()" class="btn btn-info">{{layoutText}}</button>
  </div>
</div>

<!--
<script>
  $(document).ready(function () {
    console.log("ready!");
  });
</script>
-->
