<h1 align="center"> Wireless Telemetry </h1>

<div class="container-fluid" ng-controller="WirelessController">
  <div class="row" align="center">
    <button ng-click="toggle()" class="btn btn-large btn-streaming" ng-class="{on:btnState}">{{btnText}}</button>
    <button class="btn btn-info" ng-click="connectionDetails()">Change Connection Details</button>
    <button class="btn btn-default" ng-click="toggleTools()">Tools</button>
    <br>
    <div class="connection_details form-group col-xs-2 col-xs-offset-5" align="center" ng-class="{show:connectionState}">
      <form name="connectionSettingsForm" ng-submit="saveConnectionDetails()">
        <div class="form-group" ng-class="{'has-error': connectionSettingsForm.ipAddressInput.$invalid}">
          <label class="control-label" for="ipAddressInput">IP Address</label>
          <input type="text" name="ipAddressInput" class="form-control" ng-model="connectionSettings.ipAddress" ng-pattern="connectionSettings.ipAddressValidator"
            required>
        </div>
        <div class="form-group" ng-class="{'has-error': connectionSettingsForm.portNumberInput.$invalid}">
          <label class="control-label" for="portNumberInput">Port Number</label>
          <input type="number" name="portNumberInput" class="form-control" ng-model="connectionSettings.portNumber" required>
        </div>
        <button type="submit" ng-disabled="connectionSettingsForm.$invalid" class="btn btn-success">
                Save
        </button>
      </form>
    </div>
    
    <div ng-show="showTools" class="tools col-xs-4 col-xs-offset-4" align="center">
        <button class="btn btn-default" ng-click="toggleSource()">{{dataSource}}</button>
        <button class="btn btn-default" ng-click="switchLatencyMode()">{{latencyText}}</button>
    </div>
  </div>
  <br>
  
  <div ng-repeat="channel in channels track by channel.id">
    <div class="container-fluid">
      <div class="col-md-4">
        <h3>{{channel.name}}</h3>
      </div>
      <div class="col-md-5">
        <div class="dropdown change-chart pull-right">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change chart type</button>
          <ul class="dropdown-menu">
            <div ng-repeat="chart in chartTypes">
              <li><a href="#!/WirelessTelemetry" ng-click="changeChartType(channel.id, chart)">{{chart}}</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h3>{{channel.name}} flags</h3>
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-md-9">
        <div highcharts-graph options="initialOptions" id={{channel.id}}></div>
      </div>
      <div class="col-md-3">
        <div highcharts-graph options="errorChartOptions" id={{channel.id}}Error></div>
      </div>
    </div>
  </div>
</div>