<wg-widget wg-movable wg-resizable ng-attr-editable="{{isNotLocked}}" position="chart.position" options="{ clickThrough: true }">

    <!--Purpose: When a chart is added, we have the option to either close the chart, open more options (possibly to save the chart, will implement in the future) and also to select a channel from the file that was imported to the dashboard-->
	
	<!--'Remove Chart' Button: This button (Red box with a cross) should close the chart when clicked. The HTML code for the button is shown below.-->
    <button title="Remove Chart" class="btn btn-danger btn-sm remove-widget" type="button" ng-show="isNotLocked == true" ng-click="removeChart(chart)">&#x2715;</button>

    <!--'Move Chart' Zone: User hovers over they gray square labelled "M". The user then clicks and holds the zone move the chart on the dashboard.-->
	<div class="movewidget-bg">
		<p style="text-align: center; vertical-align: middle; margin-top: 5px; color: #ffffff;">M</p>
	</div>	


	<!--Channel Select Button: This button adds a bootstrap dropdown button that allows the user to select a 'channel' from the file to be plotted on the highchart graph. -->
    <div ng-dropdown-multiselect="" class="add-channel channel-select dropup" options="graphChannels" selected-model="selectedChannels[chart.id]"
        extra-settings="channelSettings" ng-click="addChannel(chart)"></div>
    <div id={{chart.id}}></div>

</wg-widget>
